#footer {
  background-color: $first-color-alt;
  border-top-left-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
  height: 100%;

  background-image: url(../assets/background-coffee.png);
  background-size: cover;
  background-blend-mode: overlay;
}

section.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1rem;

  grid-template-areas:
    "footer-logo"
    "newsletter"
    "sign-up"
    "social-media"
    "copyright";

  h2 {
    margin-top: 2rem;
    font-size: map-get($mobile-font-size, big);
    color: $white-color;
    text-align: center;
    grid-area: newsletter;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem 0 0 0;
    gap: 0.5rem;
    grid-area: footer-logo;

    figure {
      margin: 0;
    }
  }

  h3 {
    font-size: map-get($mobile-font-size, h3);
    color: $white-color;
  }

  .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sign-up;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    input {
      padding: 0.5rem;
      border-radius: 4rem;
      border: 1px solid $text-color-light;
      background-color: transparent;
      padding: 1.5rem 3rem;
      margin: 0 2rem;
    }

    .btn-suscribe {
      margin: 1rem;
      padding: 1.5rem 6rem;
      background-color: $second-color;
      font-size: map-get($mobile-font-size, h3);
    }

    p {
      color: $white-color;
      font-size: map-get($mobile-font-size, small);

      span {
        color: $second-color;
      }
    }
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin: 3rem 0 1rem 0;
    grid-area: social-media;

    i {
      font-size: map-get($mobile-font-size, h2);
      color: $white-color;
    }
  }

  p {
    grid-area: copyright;
    color: $text-color-light;
    font-size: map-get($mobile-font-size, small);
    text-align: center;
    line-height: 1.7;
  }
}

@media (min-width: 768px) {
  section.footer-content {
    grid-template-areas:
      "footer-logo sign-up"
      "newsletter sign-up"
      "social-media social-media"
      "copyright copyright";

    .sign-up {
      margin-top: 3rem;
    }

    .footer-logo {
      margin-left: 5rem;
      justify-content: flex-start;
      align-items: baseline;

      h3 {
        font-size: map-get($desktop-font-size, h3);
      }
    }
    h2 {
      margin: 0 5rem 00;
      text-align: left;
      justify-self: start;
      font-size: map-get($desktop-font-size, big);
    }
  }

  p {
    font-size: map-get($desktop-font-size, small);
  }

  i {
    font-size: map-get($desktop-font-size, h2);
  }

  .btn-suscribe {
    font-size: map-get($desktop-font-size, h3);
  }
}
