#home {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 1rem;

  grid-template-areas:
    "home-info"
    "img";

  .home-info {
    grid-area: home-info;
    justify-items: center;

    .home-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;

      h2 {
        margin: 0;
        border: 0;
        font-size: map-get($mobile-font-size, biggest);
        color: $white-color;
      }

      .home-icon {
        width: 3.4rem;
        margin-left: 1rem;
      }
    }
    h3 {
      font-family: $secondary-font-family;
      font-size: map-get($mobile-font-size, h3);
      color: $second-color;
      text-align: center;
    }
    p {
      color: $white-color;
    }

    .btn-home {
      margin: 1rem 0;
      background-color: $second-color;
      cursor: pointer;
      &:hover {
        background-color: $first-color-light;
      }
      font-size: map-get($mobile-font-size, h3);
      color: #000;
    }
  }

  figure .home-img {
    width: 100%;
    height: 100%;
    grid-area: img;
  }
}

@media (min-width: 768px) {
  #home {
    grid-template-areas: "img home-info";
    grid-template-columns: 1fr 1fr;

    .home-title {
      padding: 0 1rem;
      h2 {
        font-size: map-get($desktop-font-size, biggest);
      }
    }
    h3 {
      font-size: map-get($desktop-font-size, h2);
    }
    p {
      font-size: map-get($desktop-font-size, h3);
    }
    .btn-home {
      font-size: map-get($desktop-font-size, h3);
    }
  }
}
